<div class="main">
  <img class="divflex" src="/assets/logos/Federico.jpg" sizes="40%" alt="Federico Gómez Suárez"/>

  <div id="innerRegistration">

    <div class="picandname">
        <div style="margin-top: 20px">
          <label>Profile photo</label>
          <input type="file" id="uploadPicture"/>
        </div>
        <div class="names">
          <div>
            <label>Last name</label>
            <input type="text" formControlName="lastname"/>
          </div>
          <div>
            <label>First name</label>
            <input type="text" formControlName="firstname"/>
          </div>
        </div>
    </div>

    <div>
      <div>
        <label>E-Mail</label>
        <input type="email" formControlName="email"/>
      </div>
    </div>
    <div>
      <div>
        <label>Password</label>
        <input type="password" formControlName="password"/>
      </div>
    </div>
    <div>
      <div>
        <label>Confirm password</label>
        <input type="password" formControlName="passwordVerify"/>
      </div>
    </div>
    <div>
      <div>
        <label>Study area</label>
        <input type="text" formControlName="studyArea"/>
      </div>
    </div>
    <div>
      <div>
        <label>Birthday</label>
        <input type="date" formControlName="birthday"/>
      </div>
    </div>
    <div>
      <div>
        <button type="submit">Register</button>
      </div>
    </div>
  </div>
  <img class="divflex" src="/assets/logos/Federico.jpg" height="140" width="195" alt="Federico Gómez Suárez"/>
</div>
