.divflex{
  flex-direction: column;
  margin: auto;
  display: flex;
  justify-content: center;
}
.picandname{
  display: flex;
  flex-direction: row;
}
.names{
  display: flex;
  flex-direction: column;
}
.main{
  display: flex;
  flex-direction: column;
}
#innerRegistration{
  flex-direction: column;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: darkblue;
  background-position: center;
  background-size: auto;
}
