* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}


.infinitscroll{
  top: 252px;
  width: 340px;
  height: 350px;
  font-size: large;
  line-height: 2;
  border: none;
  scrollbar-color: #6969dd #e0e0e0;
  background: #0B1D38;
  position: absolute;
  opacity: 1;
  left: 20px ;
}

.v18_89 {
  width: 375px;
  height: 812px;
  background: #0B1D38;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v18_90 {
  width: 354px;
  position: absolute;
  top: 64px;
  left: 11px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v18_91 {
  width: 335px;
  position: absolute;
  top: 104px;
  left: 20px;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}
.toHome2{
  opacity: 1;
  position: absolute;
  font-size: x-large;
  top: 740px;
  left: 20px;
}
.pic{
  width: 230px;
  height: 180px;
  position: absolute;
  top: 620px;
  left: 120px;
  opacity: 1;
}
.v18_95 {
  background: #2fdf75;
  width: 295px;
  height: 250px;
  position: absolute;
  top: 242px;
  left: 40px;
  opacity: 1;
}

.v18_98 {
  width: 50px;
  height: 35px;
  background: rgba(11, 29, 56, 1);
  opacity: 1;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}

.v18_99 {
  width: 26px;
  //background: url("../images/v18_99.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 38px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-179deg);
}

.v134_49 {
  width: 50px;
  height: 35px;
  //background: url("../images/v134_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 685px;
  left: 297px;
  overflow: hidden;
}

.v134_50 {
  width: 50px;
  height: 35px;
  background: rgba(11, 29, 56, 1);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.v134_51 {
  width: 24px;
  //background: url("../images/v134_51.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 13px;
  border: 3px solid rgba(255, 255, 255, 1);
}
