  <div class="v18_89"><span class="v18_90">WHO IS...?</span>
    <h1 class="v18_91">Federico Gómez Suárez</h1>
    <div class="name"></div>
    <textarea class="infinitscroll">{{content}}</textarea>
    <img src="assets/pictures/foundation/Captura3.JPG" class="pic" alt="federico"/>
    <div class="v18_96"></div>
    <button (click)="toHome()" class="toHome2"><-
    </button>

  </div>
