<div class="v10_96"><span class="v10_99">F O U N D A T I ON</span>
  <h1 class="v10_98">Federico Gómez Suárez</h1>
  <div class="divider"></div>
  <div class="name"></div>
  <div class="v14_3"></div>
  <span class="v10_121">With the intention of honoring the memory of our beloved Fede, we have created the "Federico Gómez Suárez" foundation to continue his mission and support the charities and causes that he cared for.</span>
  <div class="v14_22"></div>
  <button class="tofoundation2" (click)="toFoundation2()">-></button>
  <button class="toHome" (click)="toHome()"><-</button>
</div>
