<div class="main">
  <div class="v65_2">
    <h2 class="v65_4">Federico Gómez Suárez</h2>
    <span class="v65_5">S C H O L A R S H I P S</span>
    <div class="v65_16">
      <a mat-raised-button color="primary" class="v65_18" routerLink="/federico">Federico Gómez Suárez</a>
    </div>
    <div class="v93_32"></div>
    <div class="about">
      <h1>About...</h1>
    </div>
    <div class="v65_19">
      <div class="v65_20">
        <a mat-raised-button color="primary" class="v65_22" routerLink="/foundation">The Foundation</a>
      </div>
    </div>
    <div class="v93_99"></div>
    <span class="v65_25">Get started!</span>
    <a mat-raised-button color="primary" class="v65_27" routerLink="/tabs">Let’s Go!</a>
  </div>
  <div class="v65_96">
    <div class="EN">
      <p> </p>
      <a mat-raised-button>EN</a>
      <p> </p>
    </div>
    <a class="v65_99">|</a>
    <div class="ES">
      <p> </p>
      <a mat-raised-button>ES</a>
      <p> </p>
    </div>
  </div>
</div>
