.main{
  background-image: url('../../assets/pictures/landing/v10_35.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 375px;
  height: 812px;
}
body {
  font-size: 14px;
}
.v65_2 {
  width: 375px;
  height: 812px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v65_4 {
  width: 335px;
  position: absolute;
  top: 117px;
  left: 20px;
  font-family: Aclonica, serif;
  font-size: 36px;
  text-align: center;
}
.v65_5 {
  width: 354px;
  position: absolute;
  top: 220px;
  left: 10px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.v65_16 {
  width: 228px;
  height: 225px;
  position: absolute;
  top: 386px;
  left: 75px;
  overflow: hidden;
}
.about {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 300px;
  left: 150px;
  overflow: hidden;
}
.v65_18 {
  width: 199px;
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.v65_27 {
  width: 199px;
  position: absolute;
  top: 571px;
  left: 89px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.v65_19 {
  width: 228px;
  height: 55px;
  position: absolute;
  top: 344px;
  left: 75px;
  overflow: hidden;
  font-size: medium;
}
.v65_20 {
  width: 228px;
  height: 55px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v65_22 {
  width: 199px;
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.v65_25 {
  width: 151px;
  position: absolute;
  top: 508px;
  left: 112px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.v65_96 {
  width: 150px;
  position: absolute;
  top: 640px;
  left: 160px;
  font-family: Amaranth, serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.v65_98 {
  font-size: xx-large;
  color: white;
}
.v65_99 {
  height: 25px;
  font-size: 36px;
  color: white;
  margin: auto;

}
.EN{
  display: flex;
  flex-direction: column;
}
.ES{
  display: flex;
  flex-direction: column;
}
.v93_32 {
  width: 228px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 75px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v93_99 {
  width: 228px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 75px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
