<body>
<div class="v14_27">
  <div class="v14_32"></div>
  <h1 class="v14_34">Values</h1>
  <div class="v14_41"></div>
  <div class="v14_42"></div>
  <div class="v14_43bg"></div>
  <span class="v14_43">Humildity</span>
  <div class="v14_44bg"></div>
  <span class="v14_44">Result-oriented</span>
  <div class="v14_45bg"></div>
  <span class="v14_45">Dedication</span>
  <div class="v14_48bg"></div>
  <span class="v14_48">Selfless</span>
  <div class="v18_53bg"></div>
  <span class="v18_53">Self-reliance</span>
  <div class="v18_56bg"></div>
  <span class="v18_56">Peace</span>
  <img class="v18_55" src="../../../assets/logos/Federico.jpg" width="160px" alt="Federico"/>
  <button class="tofoundation" (click)="toFoundation()"><-</button>
</div>

