<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      financial support
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">financial support</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>financial support</h1>
</ion-content>
