<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Homepage</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Homepage</h1>
</ion-content>
