<html>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Login</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" id="loginUserName" [(ngModel)]="loginUserName"/>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="loginPw" [(ngModel)]="loginPw" />
    </mat-form-field>
    </div>
    <div>
      <button style="background: #212121; font-size: large" (click)="login()">login</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Register</mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-raised-button color="primary" routerLink="/register">Register</a>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>OAuth login</mat-panel-title>
    </mat-expansion-panel-header>
    <div><a mat-raised-button color="primary" (click)="loginGoogle()">Google</a></div>
    <div><a mat-raised-button color="primary" (click)="loginMS()">Microsoft</a></div>
    <div><a mat-raised-button color="primary" (click)="loginOther()">Other Stuff</a></div>
  </mat-expansion-panel>
</mat-accordion>
</html>
